body {
      background-image: url(images/sky.jpeg);
      height: 100vh;
      }
    .topNav {
      background-color: black;
      width: 100%
      color: white;
    }

    .topNav a{
      font-size: 20px;
      padding: 14px 16px;
      color: #f2f2f2;
    }
